.container
  .content
    h1 Contestants
    .contestantsStripe.asmi
      .container
          each team in faction
            - console.log(team);
            .row
              each member in team
                - console.log(member);
                .col-sm-6
                  .team.member
                    - member.images.forEach( function (value, index) {
                    -   if (index === 0) {
                          a(href=value, data-lightbox='contestants-asmi-#{member.name}', data-title='#{member.name}')
                            img(src=value)
                    -   } else {
                          a(href=value, data-lightbox='contestants-asmi-#{member.name}', data-title='#{member.name}')
                    -   }
                    - })
                  .team.member.name
                    h4 #{member.name}
                  .team.member.description
                    p #{member.description}


        //- h2 Echipa 1:
        //-   //- span= faction.boy.name
        //-   .col-sm-6
        //-     .team.member
        //-       a(href='http://placehold.it/200x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-         img(src='http://placehold.it/200x200')
        //-       a(href='http://placehold.it/300x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-       a(href='http://placehold.it/400x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-     .team.member.name
        //-       h4 Andrei Andrei
        //-     .team.member.description
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        //-   .col-sm-6
        //-     .team.member
        //-       a(href='http://placehold.it/200x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-         img(src='http://placehold.it/200x200')
        //-       a(href='http://placehold.it/300x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-       a(href='http://placehold.it/400x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-     .team.member.name
        //-       h4 Andreea Andreea
        //-     .team.member.description
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        //- .row
        //-   .col-sm-6
        //-     .team.member
        //-       a(href='http://placehold.it/200x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-         img(src='http://placehold.it/200x200')
        //-       a(href='http://placehold.it/300x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-       a(href='http://placehold.it/400x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-     .team.member.name
        //-       h4 Andrei Andrei
        //-     .team.member.description
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        //-   .col-sm-6
        //-     .team.member
        //-       a(href='http://placehold.it/200x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-         img(src='http://placehold.it/200x200')
        //-       a(href='http://placehold.it/300x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-       a(href='http://placehold.it/400x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-     .team.member.name
        //-       h4 Andreea Andreea
        //-     .team.member.description
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        //- .row
        //-   .col-sm-6
        //-     .team.member
        //-       a(href='http://placehold.it/200x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-         img(src='http://placehold.it/200x200')
        //-       a(href='http://placehold.it/300x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-       a(href='http://placehold.it/400x200', data-lightbox='contestants-asmi-team1-boy', data-title='Andrei')
        //-     .team.member.name
        //-       h4 Andrei Andrei
        //-     .team.member.description
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        //-   .col-sm-6
        //-     .team.member
        //-       a(href='http://placehold.it/200x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-         img(src='http://placehold.it/200x200')
        //-       a(href='http://placehold.it/300x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-       a(href='http://placehold.it/400x200', data-lightbox='contestants-asmi-team1-girl', data-title='Andreea')
        //-     .team.member.name
        //-       h4 Andreea Andreea
        //-     .team.member.description
        //-       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
